# Тест по теме "Типы данных. Создание новых переменных".

In [124]:
import pandas as pd

In [125]:
star_wars = pd.read_csv('Data/starwars.csv', sep=';')

#### Все ли женщины старше 60 лет, входящие в категорию с наивысшим доходом и являющиеся фанатками серии фильмов, проживают в одном регионе?

In [126]:
woman_60_maxincome_fan =  star_wars[(star_wars['gender'] == 'Ж') 
                          & (star_wars['age_group'] == '> 60')
                          & (star_wars['income'] == '150.000+')
                          & (star_wars['fan'] == 'да')
                ]
woman_60_maxincome_fan['loc']

162                  Тихоокеанский
522    Северо-Западный центральный
671                         Горный
Name: loc, dtype: object

### Какой регион проживания чаще всего встречается в данных?

In [127]:
star_wars['loc'].value_counts()

Северо-Восточный центральный    181
Тихоокеанский                   175
Южно-Атлантический              170
Средне-Атлантический            122
Юго-Западный центральный        110
Северо-Западный центральный      93
Горный                           79
Новая Англия                     75
Юго-Восточный центральный        38
Name: loc, dtype: int64

#### Сколько респондентов не назвали свой доход?

In [128]:
star_wars['income'].isna().sum()

328

#### Скольким респондентам одновременно очень нравятся Йода и принцесса Лея Органа?

In [129]:
star_wars[(star_wars['yoda'] == 'очень нравится') & (star_wars['princess_leia_organa'] == 'очень нравится')].shape[0]

462

#### Сколько респондентов не видели ни одного фильма серии, но считают себя ее фанатами?

In [130]:
star_wars[(star_wars['seen'] == 'нет' ) & (star_wars['fan'] == 'да')].shape[0]

0

#### Сколько респондентов не ответили ни на один вопрос?

In [137]:
# получаем таблицу с одними ответами, без номера респондента
all_questions = star_wars.drop(columns='respondentID')
# выводим строки в которых все значения столбцов - NaN
all_questions[all_questions.isna().all(axis=1)].shape[0]

0

#### Посмотрите на мужчин, проживающих в горном районе. В ответ запишите ID респондента, входящего в категорию с наивысшим доходом при заданных условиях.

In [133]:
star_wars[(star_wars['gender'] == 'М') & (star_wars['loc'] == 'Горный') & (star_wars['income'] == '150.000+')]

,respondentID,seen,fan,gender,age_group,income,loc,yoda,princess_leia_organa
169,3291077381,да,нет,М,45-60,150.000+,Горный,нравится,отношусь нейтрально

#### Укажите, верно ли следующее утверждение: фанатов серии фильмов в возрастной категории 45-60 меньше, чем не-фанатов в возрастной категории 18-29.

In [134]:
fans_45_60 = star_wars[(star_wars['fan'] == 'да') & (star_wars['age_group'] == '45-60')].shape[0]
nonfans_18_29 = star_wars[(star_wars['fan'] == 'нет') & (star_wars['age_group'] == '18-29')].shape[0]
print(f'Фанатов в возрасте 45-60 - {fans_45_60}, а не фанатов в возрасте 18-29 - {nonfans_18_29}')
print('Утверждение -', fans_45_60 < nonfans_18_29)

Фанатов в возрасте 45-60 - 154, а не фанатов в возрасте 18-29 - 56
Утверждение - False

#### Сколько процентов (от общего числа респондентов) являются фанатами серии фильмов, проживают в Новой Англии и имеют доход 0 - 24.999 долларов?

In [135]:
fan_low_income_new_england = star_wars[(star_wars['fan'] == 'да')
                                       &(star_wars['loc'] == 'Новая Англия')
                                       &(star_wars['income'] == '0 - 24.999')
                                       ].shape[0]
round((fan_low_income_new_england / star_wars.shape[0]) * 100)

1